<div class="modal full fade dark" id="videoSynopsis" role="dialog" aria-labelledby="videoSynopsisLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="videoSynopsisLabel"><i class="fa fa-film"></i> &nbsp; <%- lang['Video Synopsis'] %></h4>
      </div>
      <form class="modal-body overflow-hidden" style="margin:0">
          <div class="row-flex row-flex-full-height" style="padding:20px 0">
              <div class="col-md-3">
                  <form id="videoSynopsisSearchForm">
                      <div class="form-group">
                        <label><div><span><%-lang['Monitors']%></span></div>
                            <div><select type="text" id="videoSynopsis_monitors" class="form-control"></select></div>
                        </label>
                      </div>
                      <div class="form-group">
                        <label><div><span><%-lang['Date Range']%></span></div>
                            <div><input type="text" id="videoSynopsis_daterange" class="form-control" value="" /></div>
                        </label>
                      </div>
                      <div class="form-group">
                        <label><div><span><%-lang['Video Limit']%></span></div>
                            <div><input id="videoSynopsis_limit" value="100" class="form-control" placeholder="0 for No Limit" localStorage="videosViewerLimit" /></div>
                        </label>
                      </div>
                      <div class="form-group">
                          <a class="btn btn-block btn-sm btn-success begin-video-build"><%- lang['Build Video'] %></a>
                          <a class="btn btn-block btn-sm btn-danger cancel-video-build" style="display:none"><%- lang['Cancel Build'] %></a>
                      </div>
                      <div class="form-group">
                          <div id="videoSynopsis_preview" class="text-center"></div>
                      </div>
                      <div class="form-group">
                          <table class="table table-striped" id="videoSynopsis_status">
                              <tbody></tbody>
                          </table>
                      </div>
                      <div class="form-group">
                          <div id="videoSynopsis_logs"></div>
                      </div>
                  </form>
              </div>
              <div class="col-md-5">
                  <table class="table table-striped">
                      <tbody class="video-files"></tbody>
                  </table>
              </div>
              <div class="col-md-4">
                  <table class="table table-striped">
                      <tbody class="fileBin-files"></tbody>
                  </table>
              </div>
          </div>
      </form>
      <div class="modal-footer">
          <div class="row">
              <div class="col-md-4">
                  <div class="text-center" id="videoSynopsis_pages"></div>
              </div>
              <div class="col-md-4">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><%-lang.Close%></button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
